# These are just sample credentials, never use them in a real project

# used by both the postgres container and the app container
POSTGRES_USER=drop_table_if_you_dare
POSTGRES_PASSWORD=zt7kYOwBv527uFLj5bf5M3K4SIIhcP01

# these are used only by the app container
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_DATABASE=chinook_auto_increment

# The port the app container listens on
HONO_PORT=3333
